@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  overflow-x: hidden;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #beb9b9;
}

.form {
  width: 100%;
  height: 60px;
  background-color: #424040;
  position: fixed;
  overflow: hidden;
}

form {
  width: 100%;
  margin-top: 4px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

label {
  font-size: 1em;
  font-weight: bold;
  color: #ffd99f;
}

input[type="text"] {
  padding: 10px;
  width: 180px;
  height: 35px;
  margin: 10px;
  font-size: 0.8em;
  border: none;
  outline: none;
  color: #424040;
  background-color: #ffd99f;
}

button {
  border: none;
  outline: 1px solid #ffd99f;
  font-size: 0.7em;
  text-align: center;
  color: #ffd99f;
  background-color: transparent;
  padding: 3px;
  margin-left: 10px;
  width: 60px;
  height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

/* .more {
  margin-left: 20px;
  border: none;
  outline: 1px solid #ffd99f;
  font-size: 0.7em;
  text-align: center;
  background-color: transparent;
  color: #ffd99f;
  padding: 3px;
  width: 60px;
  height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
} */

section {
  margin-top: 20rem;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
}

figure {
  margin: 20px 10px 10px 20px;
  width: 200px;
  height: 290px;
  overflow: visible;
  -webkit-box-shadow: 3px 3px 5px 0px #2a292b;
  -moz-box-shadow: 3px 3px 5px 0px #2a292b;
  box-shadow: 3px 3px 5px 0px #2a292b;
}

figure:hover {
  transform: scale(1.2);
}

img {
  width: 200px;
  height: 240px;
  object-fit: cover;
}

figcaption {
  font-size: 0.8em;
  text-align: center;
  font-weight: bold;
  height: 50px;
  padding: 10px;
  margin-top: -5px;
  margin-bottom: 20px;
  color: #424040;
  background-color: #f0e9e9;
  overflow: visible;
}

.errorClass h1 {
  font-size: 3em;
  text-align: center;
  color: #424040;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #424040;
  margin-top: 100px;
}

footer p {
  font-size: 0.7em;
  color: #ffd99f;
  margin: 12px 20px;
}
